<!DOCTYPE html>
<html ng-app="todoApp">
  <head>
    <title>{{ title }}</title>
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div ui-view></div>

    <!-- jQuery -->
    <script src="jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Angular Components-->
    <script src="angular/angular.min.js"></script>
    <script src="angular-ui-router/release/angular-ui-router.min.js"></script>
    <!--App Components -->
    <script src="javascripts/app.js"></script>
    <script src="javascripts/services/todos.js"></script>
    <script src="javascripts/controllers/mainCtrl.js"></script>

  </body>
</html>
